<div class="container-fluid" style="padding-top: 100px">

  <!-- Row container -->
  <div style="padding-left: 10%; padding-right: 10%">

    <!-- Store information -->
    <div class="row store-row w3-animate-opacity">
      <div class="col-sm-8">
        <h1 class="store-title"><%=@selected_store.name%></h1>
        <h4 style="font-family: 'Encode Sans Expanded', sans-serif;
            font-weight: 300">
          <%= @selected_store.address.street_number %> <%= @selected_store.address.street_name %> <br>
          <%= @selected_store.address.city %>, <%= @selected_store.address.state %> <%= @selected_store.address.zip %>
        </h4>

        <h5>Phone: <%= number_to_phone(@selected_store.phone_number, area_code: true) %></h5>

        <h4 style="color: forestgreen">Open now</h4>

      </div>

      <div class="col-sm-4">
        <%= image_tag @selected_store.image_url, class: 'store-image' %>
      </div>
    </div>

    <h2 class="store-title" style="margin-top: 50px">Store inventory</h2>

    <% unless @selected_store.store_item.any? %>
        <h4 style="margin-top: 12px">NO INVENTORY</h4>
    <% end %>

    <% @selected_store.store_item.each do |store_item| %>

      <div class="row store-row w3-animate-opacity">

        <!-- Carousel -->
        <div class="col-sm-4" >
          <div id="home_carousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" >
              <div class="item active">
                <%= image_tag(store_item.vehicle.image_url, class: 'store-image') %>
              </div>

              <div class="item">
                <%= image_tag(store_item.vehicle.image_url, class: 'store-image') %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-8" >
          <h3 class="store-title">
            <%=store_item.vehicle.vehicle_description.year%>
            <%=store_item.vehicle.vehicle_description.make%>
            <%=store_item.vehicle.vehicle_description.model%>
          </h3>

          <h4 class="store-title">
            <%=store_item.vehicle.vehicle_description.description%>
          </h4>

          <h5 class="store-title">
            <br>
            In stock:
            <% if store_item.quantity > 0 %>
                <%=store_item.quantity%>
            <% else %>
                <span style="color:red"><b>Out of stock</b></span>
            <% end %>

          </h5>

          <h5 class="store-title">
            Seats: <%=store_item.vehicle.vehicle_description.seats%>
            &emsp;
            Doors: <%=store_item.vehicle.vehicle_description.doors%>
            &emsp;
            Color: <%=store_item.vehicle.vehicle_description.color%>
          </h5>

          <div style="height: 2px"></div>

          <h4 class="store-title">
            Per day price: <span style="color: darkgreen"><%= number_to_currency(store_item.cost) %></span>
          </h4>

          <div style="height: 8px"></div>

          <!-- Only show the rent button if the quantity is above zero -->
          <% if store_item.quantity > 0 %>
            <%= link_to 'Rent me!', order_page_path(store: @selected_store, store_item: store_item), class: 'btn btn-primary store-button' %>
          <% end %>

        </div>

      </div>

    <% end %>


  </div>
  <!-- End Row container -->

</div>
<!-- End Container fluid -->
